<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Predict Rent</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Rent Forecasting</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <select name="borough" id="boroughlist">
        <option disabled selected value> -- select a borough -- </option>
        <option>Brooklyn</option>
        <option>Manhattan</option>
        <option>Queens</option>        
    </select>
      <!-- <input type="text" name="bathrooms" placeholder="bathrooms" required="required" /> -->
		  <input type="text" name="size_sqft" placeholder="size_sqft" required="required" />
      <!-- <input type="text" name="min_to_subway" placeholder="min_to_subway" required="required" /> -->
      <input type="text" name="building_age_yrs" placeholder="building_age_years" required="required" />
      <input type="text" name="floor" placeholder="floor" required="required" />      
      <!-- <input type="text" name="no_fees" placeholder="no_fees" required="required" />
      <input type="text" name="has_roofdeck" placeholder="has_roofdeck" required="required" /> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Rent</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
