<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Predict Rent</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->


</head>

<body style="background: #000;">
 <div class="header">
  <h1>Rent Forecasting</h1>
  {{ prediction_text }}
  <br>
  <br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict Rent</button>
      <label for="borough">Borough: </label>
      <select name="borough" id="boroughlist">
        <option disabled selected value> -- select a borough -- </option>
        <option value='Brooklyn'>Brooklyn</option>
        <option value='Manhattan'>Manhattan</option>
        <option value='Queens'>Queens</option>        
      </select><br>
      <label for="bedrooms">Bedrooms: </label>
      <input type="text" id="bedrooms" name="bedrooms" placeholder="-- enter no. of bedrooms --" required="required"/><br>
      <label for="bathrooms">Bathrooms: </label>
      <input type="text" name="bathrooms" placeholder="-- enter no. of bathrooms --" required="required"/><br>
      <label for="size_sqft">Square Footage: </label>
      <input type="text" name="size_sqft" placeholder="-- enter square footage --" required="required"/><br>
      <label for="min_to_subway">Minutes to Subway: </label>
      <input type="text" name="min_to_subway" placeholder="-- enter distance to subway (minutes) --" required="required"/><br>
      <label for="building_age_yrs">Building Age: </label>
      <input type="text" name="building_age_yrs" placeholder="-- enter building age (years) --" required="required"/><br>
      <label for="floor">Floor: </label>
      <input type="text" name="floor" placeholder="-- enter floor no. --" required="required"/><br>   
      <label for="no_fees">No Fee: </label>
      <select name="no_fees" id="no_fees">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>
      <label for="has_roofdeck">Has Roofdeck: </label>
      <select name="has_roofdeck" id="has_roofdeck">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>
      <label for="nas_patio">Has Patio: </label>
      <select name="has_patio" id="has_patio">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>
      <label for="has_gym">Has Gym: </label>
      <select name="has_gym" id="has_gym">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>
      <label for="has_washer_dryer">Has Washer/Dryer: </label>
      <select name="has_washer_dryer" id="has_washer_dryer">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>
      <label for="has_doorman">Has Doorman: </label>
      <select name="has_doorman" id="has_doorman">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>
      <label for="has_elevator">Has Elevator: </label>
      <select name="has_elevator" id="has_elevator">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>
      <label for="has_dishwasher">Has Dishwasher: </label>
      <select name="has_dishwasher" id="has_dishwasher">
        <option disabled selected value> -- select Yes/No -- </option>
        <option value=1>Yes</option>
        <option value=0>No</option>      
      </select><br>

    <!-- <script type="text/javascript">
      var defaults = '{{ defaults }}'
    </script>

    <script type="text/javascript" src="../static/js/defaults.js"></script>   -->

      <!-- <input type="text" name="no_fees" placeholder="no_fees" required="required" value='1'/>
      <input type="text" name="has_roofdeck" placeholder="has_roofdeck" required="required" value='0'/>
      <input type="text" name="has_patio" placeholder="has_patio" required="required" value='0'/>
      <input type="text" name="has_gym" placeholder="has_gym" required="required" value='1'/>
      <input type="text" name="has_washer_dryer" placeholder="has_washer_dryer" required="required" value='1'/>
      <input type="text" name="has_doorman" placeholder="has_doorman" required="required" value='0'/>
      <input type="text" name="has_elevator" placeholder="has_elevator" required="required" value='1'/>
      <input type="text" name="has_dishwasher" placeholder="has_dishwasher" required="required" value='1'/> -->

      <!-- <button type="submit" class="btn btn-primary btn-block btn-large">Predict Rent</button> -->
    </form>

   <br>

  

 </div>


</body>
</html>
